body {
  background-color: darkslategray;
  color: aliceblue;
  font-family: "DejaVu Sans";
}

.container {
  margin: 0 -8px;
}

.container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
