.container {
  max-width: 280px;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.container span {
  font-weight: 700;
  color: #ffaaaa;
}

.container p {
  padding: 0 15px;
}
